@media screen and (min-width:768px) {
    .modal {
        max-height: 845px !important;
        background-color: red !important;
    }
}

.modalHeader{
    text-align: center;
    padding-left: 25px !important;
    background: #fbf3e8;
}