/* User information title style here */
.UserInfoTitle {
    color: #000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding: 10px 0px;
    text-transform: capitalize;
    text-decoration: none;
}

.FormInputWrapingUser {
    /* border: 1px solid #ecf0f1; */
    margin: 12px 0px;
    padding: 5px 0px 5px 10px;
    box-shadow: rgb(85 131 114 / 22%) 0px 4px 15px 0px;
}
.FormInputWrapingUser svg {
    width: 20px;
    height: 20px;
    color: #d35400;
}

.FormInputWrapingUser input {
    border: none!important;
    height: 40px;
    width: 90%;
    color: #000;
    background-color: #fff;
    outline: none;
}

.FormInputWrapingUser input::placeholder {
    padding-left: 10px;
}

.userInformaitonTable {
    margin-top: 20px;
}
.userInformaitonTable ul li {
    list-style-type: none;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-weight: 500;
    padding-bottom: 5px;
}

.userInformaitonTable {
    border: 1px solid #ecf0f1;
    padding: 20px 0px 0px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.userInformaitonTable .ComingHeading {
    font-size: 18px;
    font-size: 400;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-bottom: 10px;
}
.userInformaitonTable .UlLiPriceTimeSlot {
    display: flex;
}

.UlLiPriceTimeSlot .ChildTimeSlot {
    padding-right: 20px;
    margin-left: -3px;
}

.userInformaitonTable svg {
    height: 18px;
    width: 20px;
    color: #d35400;
    padding-right: 10px;
    padding: 2px 0px;
}

/* Multi form page booking */
.SelectServiceOption {
    margin-bottom: 10px;
}


/* Booking success message component styling */
.BookSuccessMessage h2 {
    font-size: 24px;
    font-size: 500;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 15px 0px;
}